name: Build Android APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Build APK using PWABuilder
        run: |
          npx @pwabuilder/pwa-to-apk --url https://sreeesreejith-jpg.github.io/dcrg-apk/ --output ./pension-app.apk
        continue-on-error: true
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: pension-calc-apk
          path: ./*.apk
