name: PWA-to-APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Build Android App
        uses: pwa-builder/pwa-action@v1
        with:
          url: https://sreeesreejith-jpg.github.io/dcrg-apk/
          name: "Kerala Pension Calc"
          packageId: "com.sree.pensioncalc"
          version: "1.0.0"
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: ./**/*.apk
