name: Build Android APK
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Install Bubblewrap
        run: npm install -g @bubblewrap/cli
      - name: Build APK
        run: |
          # This script will build a debug APK
          bubblewrap build --skipSigning
        continue-on-error: true
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: app-release-apk
          path: ./*.apk
